.board {
  align-items: flex-start;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-content: center;

  &__white {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 3;
  }

  &__black {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transform: translateY(0.5rem);
    z-index: 2;
  }
}

@media (max-width: $tablet-break) {
  .board {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
