.board {
  align-items: flex-start;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-content: center;
  position: relative;

  &__selector-container {
    display: grid;
    grid-gap: 2.25rem;
    grid-template-columns: repeat(7, 6.55rem);
    // grid-template-rows: repeat(6, 6.55rem);
    height: 54.25rem;
    padding: 1.85rem;
    position: absolute;
    width: 63.2rem;
    z-index: 5;
  }

  &__white {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 4;
  }

  &__holes {
    display: grid;
    grid-gap: 2.25rem;
    grid-template-columns: repeat(7, 6.55rem);
    grid-template-rows: repeat(6, 6.55rem);
    height: 54.25rem;
    padding: 1.85rem;
    position: absolute;
    width: 63.2rem;
    z-index: 3;
  }

  &__black {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    transform: translateY(0.25rem);
    z-index: 2;
  }
}

@media (max-width: $tablet-break) {
  .board {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    grid-template-columns: auto;
    grid-template-rows: auto;

    &__selector-container {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &__holes {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }
  }
}

@media (max-width: $mobile-break) {
  .board {
    &__selector-container {
      grid-gap: 0.6125rem;
      grid-template-columns: repeat(7, 4rem);
      // grid-template-rows: repeat(6, 4rem);
      height: 28.8rem;
      padding: 0.9125rem;
      position: absolute;
      width: 33.5rem;
    }

    &__holes {
      grid-gap: 0.6125rem;
      grid-template-columns: repeat(7, 4rem);
      grid-template-rows: repeat(6, 4rem);
      height: 28.8rem;
      padding: 0.9125rem;
      position: absolute;
      width: 33.5rem;
    }
  }
}
