.btn {
  border: none;
  cursor: pointer;
  outline: none;

  -webkit-tap-highlight-color: transparent;

  &--big-pill {
    border: 3px solid $color-black;
    border-radius: 2rem;
    box-shadow: 0px 10px 0px $color-black;
    height: 7.2rem;
    padding: 1.3rem 2rem;
    transition: $fade ease-in-out;
    width: 40rem;

    &--salmon {
      background-color: $color-salmon;
      color: $color-white;
    }

    &--yellow {
      background-color: $color-yellow;
    }

    &--white {
      background-color: $color-white;
    }

    &--player {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &--options-menu {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &--options-start {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }

    &:hover {
      border: 3px solid $color-dark-purple;
      box-shadow: 0px 10px 0px $color-dark-purple;
    }
  }

  &--small-pill {
    align-items: center;
    background-color: $color-dark-purple;
    border-radius: 2rem;
    color: $color-white;
    display: flex;
    justify-content: center;
    height: 3.9rem;
    padding: 1rem 2rem;
    transition: $fade ease-in-out;
    width: max-content;

    &:hover {
      background-color: $color-salmon;
    }
  }

  &--round {
    background-color: rgba(0, 0, 0, 0);
    height: 7.5rem;
    width: 7.5rem;

    & > svg:hover {
      & g {
        & circle:nth-child(-n + 2) {
          fill: $color-dark-purple;
        }
      }
    }
  }

  &--selector {
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    height: 58rem;
    justify-content: center;
    transform: translateY(-6rem);
    width: 6.55rem;
    z-index: 999;

    & svg {
      opacity: 0;
      transition: opacity $fade ease-in-out;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
}

@media (max-width: $tablet-break) {
  .btn {
    &--selector {
      & svg {
        opacity: 0;
      }

      &:hover {
        svg {
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: $mobile-break) {
  .btn {
    &--big-pill {
      width: 100%;
    }
    &--small-pill {
      min-width: 10.8rem;
    }
    &--selector {
      height: 29rem;
      transform: translate(0rem, 0rem);
      width: 4rem;
    }
  }
}
