.chip {
  border-radius: 6.4rem;
  border: 3px solid $color-black;
  box-sizing: content-box;
  box-shadow: 0px 5px 0px 0px #000, 0px 5px 0px 1px rgba(0, 0, 0, 0.5) inset;
  height: 6.4rem;
  width: 6.4rem;
  z-index: 3;
}

@media (max-width: $mobile-break) {
  .chip {
    height: 3.6rem;
    width: 3.6rem;
  }
}
