.footer {
  align-items: flex-end;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  justify-content: center;
  position: relative;

  &__fill {
    border: none;
    border-radius: 4rem 4rem 0 0;
    display: flex;
    height: calc(100% + 3.5rem);
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: $tablet-break) {
  .footer {
    grid-row: 4 / 5;

    &__fill {
      height: calc(100% + 2.5rem);
    }
  }
}
