.layout {
  display: grid;
  grid-template-columns: 1fr 63.2rem 1fr;
  grid-template-rows: minmax(16rem, 1fr) 58.4rem minmax(20rem, 1fr);
  height: 100dvh;
}

@media (max-width: $tablet-break) and (min-width: $mobile-break) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(11.4rem, 1fr) 13.2rem 58.4rem minmax(
        23.4rem,
        1fr
      );
  }
}

@media (max-width: $mobile-break) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(14rem, 1fr) 13.1rem 31rem minmax(23.6rem, 1fr);
  }
}
