.layout {
  background-color: $color-light-purple;
  display: grid;
  grid-template-columns: 1fr 63.2rem 1fr;
  grid-template-rows: 16rem 58.4rem minmax(16rem, 1fr);
  height: 100dvh;
}

@media (max-width: $tablet-break) and (min-width: $mobile-break) {
  .layout {
    grid-template-columns: 6.8rem 1fr 6.8rem;
    grid-template-rows: 11.4rem 13.2rem 58.4rem minmax(23.4rem, 1fr);
  }
}

@media (max-width: $mobile-break) {
  .layout {
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 14rem 13.1rem 31rem minmax(23.6rem, 1fr);
  }
}
