.new-game {
  align-items: center;
  background-color: $color-dark-purple;
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  min-width: 100vw;
  position: absolute;
  z-index: 5;

  &__container {
    align-items: center;
    background-color: $color-light-purple;
    border: 3px solid $color-black;
    border-radius: 4rem;
    box-shadow: 0px 10px 0px $color-black;
    color: $color-white;
    display: flex;
    flex-direction: column;
    height: 49.1rem;
    justify-content: space-around;
    padding: 5rem 4rem;
    width: 48rem;
  }

  &__options {
    width: 100%;

    & button {
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: $mobile-break) {
  .new-game {
    background-color: $color-light-purple;

    &__container {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      border-radius: 0;
      box-shadow: none;
      margin: 0 2rem;
      padding: 5rem 0;
      width: 100%;
    }
  }
}
