// colors
$color-black: #000000;
$color-black-lite: rgba(#000000, 0.6);
$color-dark-purple: #5c2dd5;
$color-light-purple: #7945ff;
$color-salmon: #fd6687;
$color-yellow: #ffce67;
$color-white: #ffffff;

// Spacing
$space-xxsmall: 0.8rem;
$space-xsmall: 1.6rem;
$space-small: 1.8rem;
$space-medium: 2.4rem;
$space-large: 3.2rem;
$space-xl: 7rem;

// // Media Breaks
$tablet-break: 1100px;
$mobile-break: 800px;

// Animation Timing
$fade: 0.2s;
