// font sizes
$font-heading-large: 5.6rem;
$font-heading-medium: 2.4rem;
$font-heading-small: 2rem;
$font-heading-xsmall: 1.6rem;
$font-body: 1.6rem;

@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('../assets/fonts/SpaceGrotesk-Bold.woff') format('woff'),
    url('../assets/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('../assets/fonts/SpaceGrotesk-Medium.woff') format('woff'),
    url('../assets/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// font settings

body {
  color: $color-black;
  font-family: 'Space Grotesk', sans-serif;
  font-size: $font-body;
  font-weight: 500;
  line-height: 2.1rem;
}

.font-lite {
  color: $color-black-lite;
}

// h1 {
//   font-size: $font-heading-large;
//   font-weight: bold;
//   line-height: 7.1rem;
// }

.heading-lg {
  font-size: $font-heading-large;
  font-weight: bold;
  line-height: 7.1rem;
}

// h2 {
//   font-size: $font-heading-medium;
//   font-weight: bold;
//   line-height: 3.1rem;
//   text-transform: uppercase;
// }

.heading-md {
  font-size: $font-heading-medium;
  font-weight: bold;
  line-height: 3.1rem;
  text-transform: uppercase;
}

// h3 {
//   font-size: $font-heading-small;
//   font-weight: bold;
//   line-height: 2.6rem;
//   text-transform: uppercase;
// }

.heading-sm {
  font-size: $font-heading-small;
  font-weight: bold;
  line-height: 2.6rem;
  text-transform: uppercase;
}

// h4 {
//   font-size: $font-heading-xsmall;
//   font-weight: bold;
//   line-height: 2.1rem;
//   text-transform: uppercase;
// }

.heading-xs {
  font-size: $font-heading-xsmall;
  font-weight: bold;
  line-height: 2.1rem;
  text-transform: uppercase;
}
